<h1>{{title}}</h1>

<div class="container">
  <div class="card card-sm">
    <form action="/api/sessions/login" method="post">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" />
      <button type="submit" class="right">Login</button>
    </form>
  </div>
</div>